$navbar-default-bg: #363636;

@import "bootstrap-sprockets";
@import "bootstrap"; 

#logo {
  font-weight: bold;
}

nav {
  border-radius: 0px 4px 4px 0px;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
}

.jumbotron {
  background-image: url('kangaroo.jpg');
  background-position: center;
  background-size: cover;
  height: 50vh;
  margin-top: 15px;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

footer {

margin-top: 45px;

padding-top: 5px;

border-top: 1px solid #eaeaea;

color: #777;

}

footer a:hover {

color: #222;

}

footer small {

float: left;

}

footer ul {

float: right;

list-style: none;

}

footer ul li {

float: left;

margin-left: 15px;

} 

